html{
    scroll-behaviour: smooth;
}


*{ margin: 0; padding:0; box-sizing:border-box; font-family: 'Ubuntu', sans-serif;}

a{ text-decoration: none; }

a:hover{ text-decoration: none; }

li{ list-style: none; }


p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight:400;
    color: #606060;
}

.extra-div h2, .servicediv h2{
    font-size: 1rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-weight: 1.1;
    word-spacing:4px;
}

i{
    color: #8B4513;
}

/*************** actual css classes starts ***************************************/

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url("002.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0 0);
    position: relative;
}

.header:before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -2;
    background: linear-gradient(to right, #d98324 0%, #a40606 0%, #d98324 100%);
}
.navbar:before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.1;
    z-index: -2;
    background: linear-gradient(to right, #d98324 0%, #a40606 0%, #d98324 100%);
}



.nav-item a{
    color:#fff!important;
    font-weight: bold;
}


.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    left; 50%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);*/


}

.header-buttons a{
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

}

.login:hover{
    color:#a40606;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.signup:hover{
    color:#3b2505;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

******************* extra header div css start  *******************************

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div{
    background: #fff;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 50px;
}

.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(184,134,11,0.8);
    transform: translateY(-20px);

}

*******************  extra header div css end *******************************

**************** service offer div css start ********************************


.serviceoffers{
    background: #ffc39e;
    padding: 50px 0;
    margin-bottom: 50px;
}

#servicediv{
    background-color: #fff39e;
    padding: 50px 0;
    margin-bottom: 50px;
}

.headings{
    margin-bottom:50px;

}

.headings h1{
    font-size:1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color: #2e2e2e;
    font-size:0.9rem;
    text-transform: uppercase;
    font-weight:bold;
}

.service-icons{
    display:flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height:0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060;
}

**************** service offer div css end ********************************

**************** project works start ************************

.project-work{
    margin-bottom: 100px;
}

.project-work h1{
    font-size: 2rem;
    text-align: center;
}

**************** project works ends ************************

**************** pricing css starts ************************

.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
#pricingdiv{
     width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing:before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg,  #fff39e 55%, #fff 0%);
}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.card{
    transition: 0.4s ease;
}

.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 0px!important;
}

.card-body{
    padding: 30px 0px!important;
}

.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #666666;
}

.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}

.card-footer a{
    border: 1px solid #d98324;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color:  #d98324;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

}

.card:hover .card-footer a:hover{
    color:#fff;
    background:  #d98324;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(184,134,11,0.3);
}

.card:hover{
    transform:translateY(-20px);
    box-shadow:0 0 20px 0 rgba(184,134,11,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #d98324;
}

.card-second{
    transform:translateY(-20px);
    /*box-shadow:0 0 20px 0 rgba(0,0,0,0.3);/*/
}

**************** pricing css ends ************************

**************** customer feedback starts ************************

.happyclients{
    width:100%;
    height: 100vh;
    padding: 80px 0;
    margin:100px;
}

#clientid{
    width:100%;
    height: 100vh;
    padding: 80px 0;

}

.box{
    text-align: center;
    border: 1px solid rgba(184,134,11,0.3);
    box-shadow: 0 5px 10px 0 rgba(184,134,11,0.8);
    border-radius: 2px;
    transition: 0.3s ease;

}

.box:hover{
    background: #d98324;
}

.box:hover .box a:after{
    background: white!important;
}




.box:hover p{
    color:white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px!important;
}

.carousel-indicators li{
    background-color: #d98324!important;
}

.box a{
    position:relative;
    margin:10px;
}

.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #d98324 0%, #d98324 0%, #a40606 0%, #d98324 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1{
    font-size: 18px;
    font-size: 700;
    color: #000;
    margin-bottom: 10px;
}

.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #3d1811  ;
    margin-bottom: 20px;
}

**************** customer feedback ends  ************************

**************** contaact us starts  ************************

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

#contactid{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background: linear-gradient(1600deg, #fff39e 55%, #fff 0%);
    z-index: -1;
}

.form-button button{
    border: 1px solid #d98324;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #d98324;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

.form-button button:hover{
    color: #d98324;
}

form:hover .form-button button{
    background: #fff;
    color: #d98324;
    box-shadow: 0 0 20px 0 rgba(184,134,11,0.8);
}

:placeholder{
    font-size: 0.85rem;
}

**************** contact us ends  ************************

**************** newsletter starts  ************************

.newsletter{
    width:100%;
    height: auto;
    margin: 50px auto;
    padding:50px;
}

#newsletterid{
    width:100%;
    height: auto;
    margin: 50px auto;
    padding:50px;
}

.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-width: 45px;
}

.input-group-text{
    color: #fff!important;
    background: #d98324!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 100px;
    min-height: 40px;
}

**************** newsletter ends  ************************

****************  footer start  ************************

.site-footer{
     width: 100%;
     height: 100vh;
     padding: 70px 0 20px 0;
     background-color: #d98324;
     position: relative;
}

#footerdiv{
    width: 100%;
     height: 50vh;
     padding: 30px 0 20px 0;
     background-color:  #d98324;
     position: relative;
}

.site-footer p{
    color: black;
}

.site-footer li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #3d1811;
    text-transform: capitalize;
}

.site-footer h3{
    text-transform: uppercase:
    color: #3d1811;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight:600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#myBtn{

    position: fixed;
    bottom: 20px;
    right:40px;
    z-index: 99;
    border: none;
    color: #d98324;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover{
    background: #fff39e;
}

**************** footer ends  ************************

**************** media queries *************************

@media(max-width: 768px){
    .nav-item{
        text-align:center!important;
    }

    .pricing, .happyclients, .contactus{
        height: auto;
        margin-top: 50px!important;
    }

    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .card-first{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .contactus p{
        padding: 0 50px;
    }

    .footer-div:nth-child(2){
        text-align:left!important;
    }

    .footer-div{
        margin:30px 0;
    }

}














